/* Layout */
body{
    overflow: hidden;
}

.container-fluid{
    overflow-y: scroll; height: 100%;
}

.row{
    height: 100vh;  
}

#welcome {
    display: block;
    padding-top: 40vh;
    text-align: center;
    align-items: center;
    align-self: center; 
}

#welcome h1 + p + button {
    margin-top: 2em;
}

#left h1{
    position: relative;
    bottom: 10vh;
}

#logo{
    width: 30%;
    height: 30%;
    position: relative;
    bottom: 15vh;
    left: 35vh;   
}

#logo2{
    width: 16%;
    height: 16%;
    position: relative;
    bottom: 10vh;  
}

#register{
    display: block;
    padding-top: 10vh;
    text-align: center;
    align-items: center;
    align-self: center;
}

form{
    margin-left: 15% ;
    margin-right: 15% ;
}

#register input{
    margin-bottom: 3em;
}

#register h1{
    position: relative;
    bottom: 10vh;
}

#block_sign_in{
    display: none;
}

#block_id{
    display: block;
    padding-top: 10vh;
    text-align: center;
    align-items: center;
    align-self: center;
}

#block_id form{
    margin-left: 30% ;
    margin-right: 30% ;
}

#block_id input{
    margin-bottom: 3em;
}

#block_id h1{
    position: relative;
    bottom: 10vh;
}




/* Styles */

body{
    font-family: 'Roboto', sans-serif;
}

#left {
    background-color: #5843BE ;
    height: 100vh;
}

#left,  h1 + p {
    color: white;
}

#left p {
    font-style: italic;
    font-weight: normal;
}

#left h1{
    font-weight: bold ;
    font-size: 4rem;
}

#left button{
    background-color: white;
    color: #5843BE;
    font-size: 1.5em;
    height: 70px;
    width: 300px;
    border-radius: 50px 50px 50px 50px;
}

#register h1{
    font-weight: bold ;
    font-size: 4rem;
    color: #5843BE ;
}

#register input{
    background-color: #E5E5E5;
    height: 60px;
    border-radius: 50px 50px 50px 50px; 
}

#register button{
    background-color: #5843BE;
    color: white;
    font-size: 1.5em;
    height: 70px;
    width: 300px;
    border-radius: 50px 50px 50px 50px;
}

#block_id h1{
    font-weight: bold ;
    font-size: 4rem;
    color: #5843BE ;
}

#block_id input{
    background-color: #E5E5E5;
    height: 60px;
    border-radius: 50px 50px 50px 50px; ;
}

#block_id button{
    background-color: #5843BE;
    color: white;
    font-size: 1.5em;
    height: 70px;
    width: 300px;
    border-radius: 50px 50px 50px 50px;
}